/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'gritter';


// Shared
#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('background.jpg') no-repeat;
  background-size: cover;
}

// Homepage
 .home {
   margin-top: 25px;
 }

 .page-header {
   background-color: white;
   padding: 10px;
   margin-bottom: 25px;
   border-radius: 5px;
 }

a.nav-link:hover {
  color: white;
}

 .nav-link {
   float: right;
   margin-right: 5px;
   border-radius: 50px;
 }

 .nav-link a:hover {
   background-color: white;
 }

.avatar {
  text-align: right;
}

 .card {
   margin: 8px;
 }


.list-group-item {
  margin: 10px;
}



// Login page
.card.login-register-edit {
  width: 50%;
  margin: 217px auto;
  border-radius: 5px;
}

//Edit User
.edit-buttons ul li {
  display: inline-block;
  float: right;
  margin: 3px 5px;
}

//New Ad
.card-body.ad {
  position: relative;
}

.breadcrumb {
  width: 75%;
}

// Categories
.inactive {
  color: black;
}

.active {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}




// Media Queries
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .breadcrumb-item {
    font-size: 12px;
  }
  .card.login-register-edit {
    width: 75%;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 769px) {
  .breadcrumb-hide {
    display: none;
  }
  .breadcrumb-show-all {
    display: block;
  }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }
//
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
